#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.radio-question {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}
.radio-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: min(80%, 600px);
  margin-left: auto;
  margin-right: auto;
}

.radio-input {
  position: relative;
  flex-basis: min(calc(50% - 12px), 250px);
  display: flex;
}

.radio-input input[type="radio"] + div {
  background-color: #3d3d3d;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.25s ease-in;
}

.radio-input input[type="radio"] + div:hover {
  background-color: #444444;
}

.radio-input input[type="radio"] {
  opacity: 0;
  position: fixed; /* or absolute */
  width: 0;
  height: 0;
  pointer-events: none; /* Prevents clicks on the hidden input */
}

.radio-input div {

}

.radio-input input[type="radio"]:checked + div {
  background-color: #565656;
}